<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/orderfoods">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="jianyifan"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/orderFoods/bean/Customer.hbm.xml</value>
				<value>com/orderFoods/bean/Administrator.hbm.xml</value>
				<value>com/orderFoods/bean/Comment.hbm.xml</value>
				<value>com/orderFoods/bean/Order.hbm.xml</value>
				<value>com/orderFoods/bean/Seller.hbm.xml</value>
				<value>com/orderFoods/bean/Orderdetail.hbm.xml</value>
				<value>com/orderFoods/bean/Type.hbm.xml</value>
				<value>com/orderFoods/bean/Restaurant.hbm.xml</value>
				<value>com/orderFoods/bean/Zone.hbm.xml</value>
				<value>com/orderFoods/bean/Useraddress.hbm.xml</value>
				<value>com/orderFoods/bean/Dish.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /><bean
		id="TypeDAO" class="com.orderFoods.DAO.TypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
</bean>
	<bean id="DishDAO" class="com.orderFoods.DAO.DishDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RestaurantDAO" class="com.orderFoods.DAO.RestaurantDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdministratorDAO"
		class="com.orderFoods.DAO.AdministratorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SellerDAO" class="com.orderFoods.DAO.SellerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CommentDAO" class="com.orderFoods.DAO.CommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderdetailDAO"
		class="com.orderFoods.DAO.OrderdetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderDAO" class="com.orderFoods.DAO.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ZoneDAO" class="com.orderFoods.DAO.ZoneDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CustomerDAO" class="com.orderFoods.DAO.CustomerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UseraddressDAO"
		class="com.orderFoods.DAO.UseraddressDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>